<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scholar.literature.mapper.CollectMapper">

    <insert id="addCollect" parameterType="String">
        insert
        into UserLiterature(userID, literatureID, title, collectTime, year, venue)
        values(#{userID}, #{literatureID}, #{title}, current_date(), #{year}, #{venue} )
    </insert>

    <delete id="deleteCollect" parameterType="String">
        delete
        from UserLiterature
        where userID = #{userID} and literatureID = #{literatureID}
    </delete>

    <select id="getCollectCount" parameterType="Map" resultType="int">
        select count(*)
        from UserLiterature
        where literatureID = #{literatureID} and PERIOD_DIFF(date_format(now(), '%Y%m'), date_format(collectTime, '%Y%m')) = #{diff}
    </select>

    <select id="getHighCollect" parameterType="String" resultType="LiteraturePreview">
        select literatureID, count(*) citation
        from UserLiterature
        group by literatureID
        order by count(*) desc
        limit 0,10
    </select>

    <select id="getLiteratureByLiteratureID" parameterType="String" resultType="LiteraturePreview">
        select title, year, venue
        from UserLiterature
        where literatureID = #{literatureID}
        limit 0,1
    </select>

    <select id="checkCollect" parameterType="String" resultType="String">
        select userID
        from UserLiterature
        where literatureID = #{literatureID} and userID = #{userID}
    </select>

</mapper>