<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scholar.root.mapper.ReportMapper">

    <resultMap id="ArticleReportMap" type="ArticleReport">

        <id column="reportID" property="reportID"/>

        <result column="literatureID" property="articleID"/>
        <result column="title" property="articleTitle"/>
        <result column="status" property="hasRead"/>
        <result column="content" property="reportContent"/>
        <association property="reporterInfo" javaType="UserInfo">
            <result property="userID" column="userID"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="image" column="image"/>
            <result property="username" column="username"/>
            <result property="realName" column="realName"/>
            <result property="userDegree" column="userDegree"/>
        </association>
    </resultMap>

    <resultMap id="GateReportMap" type="GateReport">

        <id column="reportID" property="reportID"/>

        <result column="status" property="hasRead"/>
        <result column="content" property="reportContent"/>

        <association property="reporteeInfo" javaType="UserInfo">
            <result property="userID" column="userIDA"/>
            <result property="userIdentity" column="userIdentityA"/>
            <result property="image" column="imageA"/>
            <result property="username" column="usernameA"/>
            <result property="realName" column="realNameA"/>
            <result property="userDegree" column="userDegreeA"/>
        </association>

        <association property="reporterInfo" javaType="UserInfo">
            <result property="userID" column="userIDB"/>
            <result property="userIdentity" column="userIdentityB"/>
            <result property="image" column="imageB"/>
            <result property="username" column="usernameB"/>
            <result property="realName" column="realNameB"/>
            <result property="userDegree" column="userDegreeB"/>
        </association>

    </resultMap>

    <resultMap id="CommentReportMap" type="CommentReport">

        <id column="reportID" property="reportID"/>

        <result column="postCommentID" property="strCommentID"/>
        <result column="commentContent" property="commentContent"/>
        <result column="status" property="hasRead"/>
        <result column="reportContent" property="reportContent"/>

        <association property="reporterInfo" javaType="UserInfo">
            <result property="userID" column="userID"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="image" column="image"/>
            <result property="username" column="username"/>
            <result property="realName" column="realName"/>
            <result property="userDegree" column="userDegree"/>
        </association>

    </resultMap>

    <resultMap id="PostReportMap" type="PostReport">

        <id column="reportID" property="reportID"/>

        <result column="postID" property="strPostID"/>
        <result column="postContent" property="postContent"/>
        <result column="status" property="hasRead"/>
        <result column="content" property="reportContent"/>

        <association property="reporterInfo" javaType="UserInfo">
            <result property="userID" column="userID"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="image" column="image"/>
            <result property="username" column="username"/>
            <result property="realName" column="realName"/>
            <result property="userDegree" column="userDegree"/>
        </association>

    </resultMap>

    <select id="getArticleReportByReportID" parameterType="int" resultMap="ArticleReportMap">
        select Literature.literatureID, Literature.title, Report.status, Report.content, Report.reportID,
               User.userID, User.userIdentity, User.image, User.username, User.realName, User.userDegree
        from Report, Literature, User
        where Report.reportID = #{reportID} and Report.type = 1 and Literature.literatureID = Report.reporteeID
              and User.userID = Report.reporterID;
    </select>

    <select id="getGateReportByReportID" parameterType="int" resultMap="GateReportMap">
        select Report.status, Report.content, Report.reportID, A.userID userIDA, A.userIdentity userIdentityA, A.image imageA,
               A.username usernameA, A.realName realNameA, A.userDegree userDegreeA, B.userID userIDB, B.userIdentity userIdentityB,
               B.image imageB, B.username usernameB, B.realName realNameB, B.userDegree userDegreeB
        from Report, User A, User B
        where Report.reportID = #{reportID} and Report.type = 4 and A.userID = Report.reporteeID and B.userID = #{reportID};
    </select>

    <select id="getCommentReportByReportID" parameterType="int" resultMap="CommentReportMap">
        select Comment.postCommentID, Comment.content commentContent, Report.status, Report.content reportContent,
               Report.reportID, User.userID, User.userIdentity, User.image, User.username, User.realName, User.userDegree
        from Report, Comment, User
        where Report.reportID = #{reportID} and Report.type = 2 and Comment.postCommentID = Report.reporteeID
              and User.userID = Report.reporterID;
    </select>

    <select id="getPostReportByReportID" parameterType="int" resultMap="PostReportMap">
        select Post.postID, Post.postContent, Report.status, Report.content, Report.reportID, User.userID,
               User.userIdentity, User.image, User.username, User.realName, User.userDegree
        from Report, Post, User
        where Report.reportID = #{reportID} and Report.type = 3 and Post.postID = Report.reporteeID and User.userID = Report.reporterID;
    </select>

</mapper>