<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scholar.root.mapper.UserMapper">

    <update id="setNormalUser" parameterType="String">
        update User
        set authorID = null, userIdentity = 0
        where userID = #{userID};
    </update>

    <update id="setAuthor" parameterType="Map">
        update User
        set authorID = #{authorID}, userIdentity = 1
        where userID = #{userID};
    </update>

    <select id="getAllUser" resultType="String">
        select userID
        from User;
    </select>

</mapper>