<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scholar.profile.mapper.UserMapper">

    <insert id="addUser" parameterType="User">
        insert
        into User(userID, userIdentity, username, password, image)
        values (#{userID}, #{userIdentity}, #{username}, #{password}, #{image})
    </insert>
    
    <select id="loginUser" parameterType="String" resultType="UserPreview">
        select userID, authorID, username, realName, image, userDegree, userIdentity, organization, emailAddress, phoneNumber, introduction
        from User
        where (userID = #{ID} or username = #{ID} or emailAddress = #{ID}) and password = #{password}
        limit 0,1
    </select>

    <select id="checkUserName" parameterType="String" resultType="String">
        select username
        from User
        where username = #{username}
    </select>

    <update id="updateUser" parameterType="User">
        update User
        set username = #{username}, realName = #{realName}, userDegree = #{userDegree}, image = #{image}, emailAddress = #{emailAddress}, phoneNumber = #{phoneNumber}, organization = #{organization}, introduction = #{introduction}
        where userID = #{userID}
    </update>

    <select id="getUserByUserID" parameterType="String" resultType="User">
        select *
        from User
        where userID = #{userID}
    </select>

    <select id="getUserPreviewByUserID" parameterType="String" resultType="UserPreview">
        select userID, authorID, username, realName, image, userDegree, userIdentity, organization, emailAddress, phoneNumber, introduction
        from User
        where userID = #{userID}
    </select>

    <select id="getFollowUsers" parameterType="String" resultType="UserPreview">
        select User.userID, authorID, username, realName, image, userDegree, userIdentity, organization, emailAddress, phoneNumber, introduction
        from User,Follow
        where Follow.userID = User.userID and followerID = #{userID}
    </select>

    <select id="getFollowers" parameterType="String" resultType="UserPreview">
        select User.userID, authorID, username, realName, image, userDegree, userIdentity, organization, emailAddress, phoneNumber, introduction
        from User,Follow
        where followerID = User.userID and Follow.userID = #{userID}
    </select>

    <insert id="addFollow" parameterType="String">
        insert
        into Follow(followerID, userID)
        values (#{followerID}, #{userID})
    </insert>

    <delete id="deleteFollow" parameterType="String">
        delete
        from Follow
        where followerID = #{followerID} and userID = #{userID}
    </delete>

    <select id="checkIsAuthor" parameterType="String">
        select authorID
        from User
        where userID = #{userID}
    </select>

</mapper>